@use "../abstracts/breakpoints" as *;

.site-footer {
  padding-block: var(--space-6);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  &__copy {
    font-size: var(--text-small);
    color: var(--color-footer);

    small {
      font-size: inherit;
    }
  }

  @include mq($bp-md) {
    padding-block: var(--space-4);

    &__inner {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
